body{
	background: #f0f0f0;
	padding: 0;
	margin: 0;
	font-family: monaco, consolas, "lucida console", "courier new", courier, monospace;
	font-size: 0.8em;
	line-height: 1.8em;
}
a{
	color: #0000AA;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}

input[type='text'], textarea{
	width: 100%;
	font-size: 1em;
	padding: 5px;
}
label{
	display: block;
}
pre{
	tab-size:4;
	font-family: inherit;
	line-height: 2em;
}

.panel{
	background: #ddd;
	padding: 5px 20px;
	border-radius: 5px;
	margin: 5px 0;
}

.text-center{
	text-align: center;
}

.text-muted{ color: #777; }

.clear:after{
	content: ' ';
	clear: both;
}


.table{
	margin-bottom: 20px;
}

.table.thead-text-left thead th{
	text-align: left;
}

.table thead th{
	border-bottom: 1px solid #777;
	padding: 10px;
}
.table tbody td{
	border-bottom: 1px solid #ccc;
	padding: 10px;
}


.markdown p{ margin: 8px 0; }
.markdown .md-br{ padding: 7px; }
.markdown .tab-count-1{ margin-left: 30px; }
.markdown .tab-count-2{ margin-left: 60px; }
.markdown .tab-count-3{ margin-left: 90px; }
.markdown .tab-count-5{ margin-left: 120px; }
.markdown .tab-count-6{ margin-left: 150px; }
.markdown .tab-count-7{ margin-left: 180px; }
.markdown .md-codeblock.tab-count-1{ margin-left: 35px; }
.markdown .md-codeblock.tab-count-2{ margin-left: 65px; }
.markdown .md-codeblock.tab-count-3{ margin-left: 95px; }
.markdown .md-codeblock.tab-count-5{ margin-left: 125px; }
.markdown .md-codeblock.tab-count-6{ margin-left: 155px; }
.markdown .md-codeblock.tab-count-7{ margin-left: 185px; }
.markdown .md-code{ display: inline-block; background: #ddd; padding:0 7px; border-radius: 4px; font-size: 0.85em; }
.markdown .md-codeblock{ background: #ccc; border: 1px solid #bbb; color: #000; padding:25px 25px 20px 25px; border-radius: 4px; margin-bottom: 5px; }
.markdown .md-codeblock-php{ background: #8892BF; border-color: #4F5B93; color: #fff; }
.markdown .md-codeblock-table{ background: transparent; border-color: transparent; color: inherit; padding: 0; }
.markdown .md-codeblock-table table { min-width: 50%; text-align: left; font-size: 1em; border: 1px solid #ddd;}
.markdown .md-codeblock-table table thead th { background: #f6c457; padding: 5px; }
.markdown .md-codeblock-table table tbody td{ border-top: 1px solid #ddd; padding: 5px; }
.markdown .md-list-bullet, .markdown .md-list-number, .markdown .md-list-dash{ color: #888; }
.markdown .md-task-list{ display: block; }
.markdown .md-task-list-checked{ background: #002200; color: #fff; padding: 0 5px; border-radius: 3px; }
.markdown .md-task-list-checked-striked{ background: #550000; color: #fff; padding: 0 5px; border-radius: 3px; }
.markdown .md-task-list-unchecked-striked{ background: #550000; color: #fff; padding: 0 5px; border-radius: 3px; }
.markdown .md-task-list-unchecked{ background: #ccc; padding: 0 5px; border-radius: 3px; }
.markdown h1{ font-size: 1.3em; margin: 0 0 2px 0; }
.markdown h2{ font-size: 1.2em; margin: 0 0 2px 0; }
.markdown h3{ font-size: 1.1em; margin: 0 0 2px 0; }
.markdown h4{ font-size: 1.0em; margin: 0 0 2px 0; }
.markdown h5{ font-size: 0.9em; margin: 0 0 2px 0; }
.markdown .md-heading a.md-hash-link{ text-decoration: none; color: inherit; display: block; }






/***
***

layouts

***
***/

/* navbar */
.layout-navbar #navbar{
	background: #f6c457;
	padding: 20px 0;
	box-shadow: 1px 1px #cdb9b9;
}
.layout-navbar #navbar > h2{
	text-align: center;
	margin: 0 0 20px 0;
}
.layout-navbar #navbar ul{
	text-align: center;
	list-style: none;
	margin: 0;
	padding: 0;
}
.layout-navbar #navbar ul li{
	display: inline-block;
	margin: 10px 1px;
}
.layout-navbar #navbar ul li a{
	display: inline-block;
	background: #da9603;
	padding: 5px 15px;
	color: #FFFFFF;
	text-decoration: none;
	border-radius: 3px;
	width: 110px;
	text-shadow: 0px 1px #a48032;
}
.layout-navbar #navbar ul li a:hover{
	background: #444;
}
.layout-navbar #navbar ul li a.current-uri-link{
	background: #222;
	text-shadow: 0px 1px #444;
}

.layout-navbar #main{
	margin: 60px auto 0 auto;
	padding: 0 30px;
	max-width: 900px;
}





/* Sidebar */
.layout-sidebar {
	background: #f6c457;
}
.layout-sidebar #sidebar{
	float: left;
	width: 15%;
	min-width: 150px;
	height: 100%;
}
.layout-sidebar #sidebar h2{
	padding-left: 14px;
	font-size: 1em;
	text-shadow: 1px 0px #e6c1c1;
}
.layout-sidebar #sidebar ul{
	list-style: none;
	padding-left: 14px;
}
.layout-sidebar #sidebar > ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.layout-sidebar #sidebar li{
	margin: 1px 0px 0px 0px;
}
.layout-sidebar #sidebar li a{
	display: block;
	background: #da9603;
	padding: 5px 15px;
	color: #FFFFFF;
	text-decoration: none;
	text-shadow: 0px 1px #a48032;
	font-size: 0.9em;
}
.layout-sidebar #sidebar li a:hover{
	background: #444;
}
.layout-sidebar #sidebar li a.current-uri-link{
	background: #222;
	text-shadow: 0px 1px #444;
}

.layout-sidebar #main{
	width: 80%;
	min-height: 550px;
	padding: 25px 2% 35px 3%;
	float: left;
	box-shadow: -1px 0px #e9e9e9;
	background: #f0f0f0;
}
