body{
	background: #f0f0f0;
	padding: 0;
	margin: 0;
	font-family: monaco, "courier new", courier, monospace;
	font-size: 0.8em;
	line-height: 1.8em;
}
a{
	color: #0000AA;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}

ul#nav{
	background: #f6c457;
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
}
ul#nav li{
	display: inline-block;
	margin: 20px 1px;
}
ul#nav li a{
	display: inline-block;
	background: #da9603;
	padding: 5px 15px;
	color: #FFFFFF;
	text-decoration: none;
	border-radius: 3px;
	width: 110px;
	text-shadow: 0px 1px #a48032;
}
ul#nav li a:hover{
	background: #444;
}
ul#nav li a.current-uri-link{
	background: #222;
	text-shadow: 0px 1px #444;
}

#main{
	margin: 60px 200px 0 200px;
	min-height: 60vh;
}

input[type='text'], textarea{
	width: 100%;
	font-size: 1em;
	padding: 5px;
}
pre{
	tab-size:4;
	font-family: inherit;
	line-height: 2em;
}

.panel{
	background: #ddd;
	padding: 5px 20px;
	border-radius: 5px;
}

.text-center{
	text-align: center;
}


.markdown p{ margin: 8px 0; }
.markdown .md-br{ padding: 7px; }
.markdown .tab-count-1{ margin-left: 30px; }
.markdown .tab-count-2{ margin-left: 60px; }
.markdown .tab-count-3{ margin-left: 90px; }
.markdown .tab-count-5{ margin-left: 120px; }
.markdown .tab-count-6{ margin-left: 150px; }
.markdown .tab-count-7{ margin-left: 180px; }
.markdown .md-codeblock.tab-count-1{ margin-left: 35px; }
.markdown .md-codeblock.tab-count-2{ margin-left: 65px; }
.markdown .md-codeblock.tab-count-3{ margin-left: 95px; }
.markdown .md-codeblock.tab-count-5{ margin-left: 125px; }
.markdown .md-codeblock.tab-count-6{ margin-left: 155px; }
.markdown .md-codeblock.tab-count-7{ margin-left: 185px; }
.markdown .md-code{ display: inline-block; background: #ddd; padding:0 7px; border-radius: 4px; font-size: 0.85em; }
.markdown .md-codeblock{ background: #ccc; border: 1px solid #bbb; color: #000; padding:25px 25px 20px 25px; border-radius: 4px; margin-bottom: 5px; }
.markdown .md-codeblock-php{ background: #8892BF; border-color: #4F5B93; color: #fff; }
.markdown .md-codeblock-table{ background: transparent; border-color: transparent; color: inherit; padding: 0; }
.markdown .md-codeblock-table table { min-width: 50%; text-align: left; font-size: 1em; border: 1px solid #ddd;}
.markdown .md-codeblock-table table thead th { background: #f6c457; padding: 5px; }
.markdown .md-codeblock-table table tbody td{ border-top: 1px solid #ddd; padding: 5px; }
.markdown .md-list-bullet, .markdown .md-list-number, .markdown .md-list-dash{ color: #888; }
.markdown .md-task-list{ display: block; }
.markdown .md-task-list-checked{ background: #002200; color: #fff; padding: 0 5px; border-radius: 3px; }
.markdown .md-task-list-checked-striked{ background: #550000; color: #fff; padding: 0 5px; border-radius: 3px; }
.markdown .md-task-list-unchecked-striked{ background: #550000; color: #fff; padding: 0 5px; border-radius: 3px; }
.markdown .md-task-list-unchecked{ background: #ccc; padding: 0 5px; border-radius: 3px; }
.markdown h1{ font-size: 1.3em; margin: 0 0 2px 0; }
.markdown h2{ font-size: 1.2em; margin: 0 0 2px 0; }
.markdown h3{ font-size: 1.1em; margin: 0 0 2px 0; }
.markdown h4{ font-size: 1.0em; margin: 0 0 2px 0; }
.markdown h5{ font-size: 0.9em; margin: 0 0 2px 0; }
.markdown .md-heading a.md-hash-link{ text-decoration: none; color: inherit; display: block; }
